/* ----------Themes---------- */
:root {
	--primary-color: #b8d7ff;
	--secondary-color: #55d871;
	--text-color: #040404;
	--bg-color: #fff;
}

[data-theme='dark'] {
	--primary-color: #7bdce8;
	--secondary-color: #14d63e;
	--text-color: #fff;
	--bg-color: #000;
}

/* ----------Defaults---------- */
html, body, .app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	font-family: Calibri, sans-serif;

	color: var(--text-color);
	background-color: var(--bg-color);
}

div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	text-decoration: none;

	color: #00d;
}

.app {
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
}

/* ----------Globals---------- */
input, button {
	color: var(--text-color);
	border: 1px solid grey;
	border-radius: 4px;
	background-color: var(--bg-color);
}

[data-theme='dark'] input::placeholder {
	color: #b5b5b5;
}

button {
	cursor: pointer;
}

.sortable-ghost {
	opacity: .3;
}

/* ----------Timer---------- */
.timer {
	display: flex;
	flex-direction: column;

	width: max-content;
	margin: 0 auto;
	margin-top: 40px;
	padding: 10px;
}

/* ----------Timer Display---------- */
.timer-display {
	display: flex;
	flex-direction: column;

	margin-bottom: 10px;

	text-align: center;
}

.timer-time {
	font-size: 28px;
}

.timer-main {
	font-size: 68px;
}

.timer-sub {
	font-size: 38px;
}

/* ----------Timer Controls---------- */
.timer-controls {
	display: flex;
	flex-direction: row;

	margin-bottom: 10px;

	justify-content: center;
}

.timer-controls > * {
	font-size: 18px;

	margin: 0 4px;
	padding: 4px;
}

.timer-controls button {
	min-width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
}

.timer-controls button:hover {
	color: white;
	background-color: var(--secondary-color);
}

.timer-controls input[type='checkbox'] {
	width: 20px;
	height: 20px;
	margin: auto 4px;
}

#start {
	background-image: url('icons/play.png');
}
#start.true {
	background-image: url('icons/stop.png');
}

#pause {
	background-image: url('icons/pause.png');
}
#pause.true {
	background-color: var(--secondary-color);
}

#loop {
	content: url('icons/noloop.png');
}
#loop.true {
	content: url('icons/loop.png');
}

/* ----------Timer List---------- */
.timer-list {
	display: flex;
	flex-direction: column;
}

.timer-row {
	font-size: 20px;

	display: flex;
	flex-direction: row;

	margin: 8px 0;
	padding: 4px 2px;

	user-select: none;
	/* background-color: var(--primary-color); */

	color: black;
	/* padding-left: 20px; */
	border-radius: 6px;
	box-shadow: 0 1px 6px #00000055;

	flex: 1;
	justify-content: space-around;
}

.timer-row.done {
	opacity: .6;

	filter: grayscale(1);
}

.timer-row.highlight {
	background-color: var(--secondary-color);
}

.row-section {
	display: flex;
	flex-direction: column;
}

.row-options {
	display: flex;
	flex-direction: row;
}

.row-options > * {
	margin: 0 4px;

	border: none;
}

#timer-list .row-playMode {
	display: none;
}

#timer-list .row-playMode {
	display: none;
}

.timer-row input:hover, .timer-row button:hover {
	background-color: var(--primary-color);
}

.timer-row input[type='number'] {
	width: 40px;
	margin: 0;
	padding: 4px;

	text-align: center;
}

.row-handle {
	cursor: n-resize;
}

.row-go:hover {
	color: white;
	background-color: var(--secondary-color);
}

.timer-row input[type='checkbox'] {
	width: 20px;
	height: 20px;
	margin: auto 4px;
}

.row-label {
	padding: 4px;
	/* flex: 1; */

	flex-shrink: 1;
}

.row-hours {
	border-radius: 6px 0 0 6px;
}

.row-minutes {
	border-radius: 0;
}

.row-seconds {
	border-radius: 0 6px 6px 0;
}

.row-timer {
	text-align: right;

	flex-grow: 1;
}

.row-add, .row-remove {
	font-size: 20px;
}

.row-remove {
	font-size: 17px;

	color: var(--text-color);
	/* background-color: red; */
	background-color: transparent;
}

.row-add {
	width: 30%;
	margin: 0 auto;

	color: var(--text-color);
	background-color: var(--secondary-color);
}

/* ----------Theme Switch---------- */
.theme {
	position: fixed;
	right: 10px;
	bottom: 10px;

	display: flex;
	flex-direction: column;

	user-select: none;
}

.theme-title {
	font-size: 24px;

	margin-bottom: 10px;

	text-align: center;
}

.theme-switch {
	display: flex;

	width: 80px;
	height: 40px;

	border-radius: 40px;
	background-color: var(--text-color);
}

.theme-pill {
	width: 36px;
	height: 36px;
	margin: auto 0;
	margin-left: 2px;

	border-radius: 100%;
	background-color: var(--bg-color);
}

.theme-switch.dark .theme-pill {
	margin: auto 0;
	margin-left: 42px;
}

