@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #0a0c0d;
  color: #ababad;
  font-size: 24px;
  font-family: Rubik;
}

div,
h1,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #0000dd;
}

/* ----------App---------- */